
[class*="__container"] {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
